body {
    background-image: url("../images/firstave1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.card {
    margin-top: 100px;
    margin-left: 425px;
    margin-bottom: 50px;
}

h5, h6 {
    text-align: center;

}

.text {
    text-align: center;
}

#begin {
    margin-left: 273px;
}

/* #finish {
    margin-top: 100px;
    margin-left: 425px;
    margin-bottom: 50px;
} */
