body {
    background-image: url("../images/firstave1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    margin-top: 100px;
    margin-left: 350px;
    margin-bottom: 50px;
}

h5, h6 {
    text-align: center;

}

.text {
    text-align: center;
}


